.App {
  text-align: center;
}

nav{
  padding: 10px 50px;
  background-color: yellow;
}
ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}
nav ul li {
  font-family: serif;
  font-size: 23px;
  font-weight: bold;
  color: black;
}
a{
  text-decoration: none;
}